body {
  background-color: rgb(39, 38, 37);
  color: white;
  font-family: 'Lato', sans-serif;
}

body > main > div.container > div.counter.row.m-1 {
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 1.3rem;
}

#output {
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 1.4rem;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 5rem;
}

h4 {
  font-family: 'Montserrat', sans-serif;
}
img {
  margin: 0 0.3rem;
}

.thead,
.track {
  border-bottom: 1px solid rgb(68, 68, 68);
  margin: 1rem 0 !important;
}

.thead {
  border-top: 1px solid rgb(68, 68, 68);
  color: gray;
}

.container {
  margin-top: 2rem;
}

.filter {
  margin-top: 2rem;
}
@media screen and (max-width: 767px) {
  .thead {
    display: none;
  }
  div.counter.row.m-1 {
    margin-bottom: 2rem !important;
  }
  h4 {
    margin-left: 0.5rem;
  }
}

#filter-input:focus {
  outline: none;
}
